[build]
  command = "npm run build"
  publish = ".next"

[functions]
  directory = "netlify/functions"

[[plugins]]
  package = "@netlify/plugin-nextjs"

# Enable Next.js Image Optimization
[images]
  remote_images = ["https://cdn.sanity.io/.*"]
